Debug/
libEG.so
libEGPythia6.so
libPythia6.so
p_Be_800GeV_DY_10^8_coordHardCollisions.txt
p_Be_800GeV_DY_10^8_coordSoftCollisions.txt
p_Be_800GeV_DY_10^8_deltaPt.txt
p_Be_800GeV_DY_10^8_impactParameterAfter.txt
p_Be_800GeV_DY_10^8_impactParameterBefore.txt
p_Be_800GeV_DY_10^8_incidentParticlePt.txt
p_Be_800GeV_DY_10^8_pathInNucleus.txt
p_Be_800GeV_DY_10^8_probability.txt
p_Be_800GeV_DY_10^8_softCollisionsNumber.txt
p_Be_800GeV_DY_10^8.txt
